.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: rgb(75, 75, 75);
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: darkgrey;
}

.general {
  color: darkgrey;
  margin: 10px;
}

.form {
  color: darkgrey;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.homeInput {
  border: none;
  background-color: rgb(59, 59, 59);
  color: darkgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  text-align: center;
  width: 250px;
  
}

.mainButton {
  border: none;
  background-color: rgb(59, 59, 59);
  color: white;
  text-align: center;
  height: 50px;
  width: 125px;
  

  cursor: pointer;
}

.mainButton:hover {
  background-color: rgb(24, 24, 24);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
